<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <location path="" overrideMode="Allow">
        <system.webServer>
            <asp enableParentPaths="true">
                <session />
                <comPlus />
                <cache />
                <limits />
            </asp>
        </system.webServer>
    </location>
</configuration>
